html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='dist/flexboxgrid.min.css')
    link(rel='stylesheet', href='./styles/styles.scss')
    title Starter with Flexboxgrid
  body
    // Code goes here
    section
      .service
        .container
          .row.center-xs.center-lg
            .col-xs-12.col-lg-4
              .service_img
              h2.services__titre
                | Service clé en main
              p.services__text
                | On s'occupe de tout : prise de photo,
                | création de l'annonce, sélection des
                | voyageurs, ménage, remise des clés, etc.
              p.services__text.service__text--isblue De nombreuses heures de gestion gagnées
            .col-xs-12.col-lg-4
              .services__img
              h2.services__titre
                | 2 offres de revenu
              p.services__text
                | Commission à partir de 15% ou revenu
                | garanti sur toute la durée de location : à
                | vous de choisir !
              p.services__text.service__text--isblue 30% de revenu en plus en moyenne qu'une Airbnb
            .col-xs-12.col-lg-4
              .services__img
              h2.services__titre
                | Flexibilité maximale
              p.services__text
                | À partir de 2 nuits d'absence, nous prenons
                | en charge tout type de logement, que vous
                | soyez locataire ou propriétaire
              p.services__text.service__text--isblue  Gagnez de l'argent, même sur un week-end
    section.actions
      .actions__background
        .container
          .row.end-lg.start-xs
            .col-lg-12
              h2.action__title.action__title--bigtitle
                | Notre conciergerie s’occupe de tout
              p.action__text
                | La gestion de votre location saisonnière clé en main :
          .row
            .col-lg-2
              .actions__img
              h3.actions__title Création et optimisation de votre annonce Airbnb
            .col-lg-2
              .actions__img
              h3.actions__title Remises des clés
            .col-lg-2
              .actions__img
              h3.actions__title Draps et linge de maison fournis
            .col-lg-2
              .actions__img
              h3.actions__title Sélection des voyageurs et assistance 7j/7
            .col-lg-2
              .actions__img
              h3.actions__title Ménage complet et maintenance
    section.stats
      h3.stats__maintitle  HostnFly, 1er service de conciergerie Airbnb en France
      .container
        .row
          .col-xs-12.col-lg-4.stats__item
            p.stats__number.stats__number--colorispurple 2 000
            h4.stats__title Appartements en gestion
          .col-xs-12.col-lg-4.stats__item
            p.stats__number.stats__number--colorisblue 70 000
            h4.stats__title Voyageurs accueillis
          .col-xs-12.col-lg-4.stats__item
            p.stats__number.stats__number--colorisgreen 10 M€
            h4.stats__title De revenus gagnés par nos clients
    // Code ends here
    script(src='./scripts/index.js')
